main#pdf
  & > header

  article
    & > header

    page-break-inside: avoid

    .incoming, .outgoing
      padding: .25rem .25rem

    .incoming
      border-top: 1px solid
      border-bottom: 1px solid

    .outgoing
      background-color: darken(white, 10%)

ul
  list-style: none
  padding-left: 1rem
